# Any copyright is dedicated to the Public Domain.
# https://creativecommons.org/publicdomain/zero/1.0/

root = true

[*]
end_of_line = lf
indent_style = tab

[*.{md}]
indent_style = space
indent_size = 2
